@import "tailwindcss";

:root {
  --default-white: rgb(255, 255, 255); /* blanco */
  --transparent-gray: rgba(117, 118, 118, 0.176);
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(17 24 39);
}

.default-white{
  color: var(--default-white)
}

.title-2{
  font-weight: 600;
  color: var(--default-white);
  font-size: 36px;
}

.border-b-semitransparent{
  border-bottom: 1px solid var(--transparent-gray);
}